%h2 
  Submit : &nbsp;
  %span{:id => 'inputchoice'}
    %a{:href => "#input-file"} file 
    &nbsp; &nbsp;
    %a{:href => "#input-uri"} uri

%br
%p Submit a file to the description service. The result of format description may be saved locally using the browser "Save Page As" function.
%br

%div{:id => "input-file", :class => "form-container"}
  %form{:action => '/description', :method => 'POST', :enctype => 'multipart/form-data'}
    %label{:for => 'document'} File:
    %input{:name => 'document', :id => 'uploadfile',  :size => '60', :type => 'file'}
    %input{:type => 'submit', :value => 'Submit' }
    %br
    %br
    %p 
      Alternatively, users can use HTTP clients such as curl to submit local files directly to the 
      description service via HTTP protocol. For example, to use curl to upload a local file named 00001.pdf to 
      the description service and save the result to premis.xml,
    %br
    %p curl -F "document=@00001.pdf" -F "extension=pdf" http://description.fcla.edu/description > premis.xml
    %br
    - if !max_upload_file_size.empty?
      %p= "The file upload is limit to #{max_upload_file_size}."
 
    %input{:name => 'extension', :id => 'extension', :size => '24', :type => 'hidden'}

%div{:id => "input-uri", :class => "form-container"}
  %form{:action => '/describe', :method => 'get'}
    %label{:for => "location"} Address:
    %input{:name => "location", :id => "uri", :type => "text", :size => "45"}
    %input{:type => 'submit', :value => 'Submit' }
    %br
    %br
    %p
      Alternatively, users can use HTTP clients such as curl to submit URI address directly to the description 
      service via HTTP protocol. For example, to use curl to submit the resource located at http://www.fcla.edu/daitss-test/files/00004.txt 
      to the description service and save the result to premis.xml,
    %br
    %p curl http://description.fcla.edu/describe?location=http://www.fcla.edu/daitss-test/files/00004.txt > premis.xml
    %br
