%h2 
  Submit : 
  %span{:id => 'inputchoice'}
    %a{:href => "#input-file"} file upload
    %a{:href => "#input-uri"} uri

%br
%p Submit a file to the description service. The result of format description may be saved locally using the browser "Save Page As" function.
%br

%div{:id => "input-file", :class => "form-container"}
  %form{:action => '/description', :method => 'POST', :enctype => 'multipart/form-data'}
    %label{:for => 'document'} File:
    %input{:name => 'document', :id => 'uploadfile',  :size => '60', :type => 'file'}
    %input{:type => 'submit', :value => 'Submit' }
    %br
    %br  
    %input{:name => 'extension', :id => 'extension', :size => '24', :type => 'hidden'}

%div{:id => "input-uri", :class => "form-container"}
  %form{:action => '/describe', :method => 'get'}
    %label{:for => "location"} Address:
    %input{:name => "location", :id => "uri", :type => "text", :size => "45"}
    %input{:type => 'submit', :value => 'Submit' }
    %br
    %br


