%h2 
  Information
%br
%p 
  Description Service uses
  %a{:href => "http://sourceforge.net/apps/mediawiki/droid/index.php?title=Main_Page"} DROID
  for format identification and 
  %a{:href => "http://hul.harvard.edu/jhove/"} JHOVE
  for format validation and characterization.  Based on the identification result, the
  Format Description Service launches applicable JHOVE validators to perform format validation and
  characterization.  The JHOVE characterization and validation results are then 
  transformed into PREMIS along with applicable standard metadata schema.  
%br
%h4 Characterization Result
%p
  General file metadata such as format information, file size, checksum, creator, create date, 
  inhibitors are extracted and expressed in PREMIS schema.  The Description Service currently exports 
  the following standard format-specific metadata schema,

%ul
  %li 
    %a{:href => "http://www.loc.gov/standards/mix/" } MIX 2.0 
    for image metadata in JPEG, JP2 and TIFF
  %li 
    proposed AES-X098B for audio metadata in WAVE and AIFF.  Please see JHOVE website for more details.
  %li 
    %a{:href => "http://www.loc.gov/standards/textMD/"} TextMD
    for describing the metadata in ASCII, UTF8 and XML.
  %li 
    %a{:href => "http://fclaweb.fcla.edu/uploads/Lydia%20Motyka/FDA_documentation/documentMD.pdf"} DocMD
    for document metadata in PDF.
  
%br
%h4 Validation Result
%p
 
  Description service utilize PREMIS event objects to record validation result.  General validation result 
  is recorded the eventDetail, for example, this following line indicates that the file is both well-formed and valid 
  according to the file format specification.
%p 
  &lteventDetail&gtWell-Formed and valid&lt/eventDetail&gt
%br
%p If there is any anomaly detected during format validation, it will be recorded in the eventOutcomeDetailExtension section.
%p &lteventOutcomeDetailExtension&gt
%p &ltanomaly&gtImproperly formed date&lt/anomaly&gt
%p &lt/eventOutcomeDetailExtension&gt
  